- name : Configure Docker on EC2 Instances
  hosts : all
  become: true
  connection : ssh
  tasks : 
  - name: updating apt
    command : sudo apt-get update

  - name : Install Docker
    command : sudo apt-get install -y docker.io
    become : yes
    become_user : root

  - name : Start Docker Service
    command : sudo systemctl start docker
    become : yes
    become_user : root
  - name: stop container
    command: docker stop C01
    
  - name: remove container
    command: docker rmi C01
    
  - name: Deploy Docker Container
    command: docker run -itd -p 8084:8081 --name C01 salman8095/insuranceproject:v1
