---
- name : Installing Container in Hosts
  hosts : all
  become: true
  connection : ssh
  tasks : 
  - name: updating apt
    command : sudo apt-get update

  - name : Install Docker
    command : sudo apt install docker.io -y
    become : yes
    become_user : root

  - name : Start Docker Service
    command : sudo systemctl start docker
    become : yes
    become_user : root
    
  
    
  - name: Deploy Docker Container
    command: docker run -itd -p 8088:8081 --name C01 salman8095/insuranceproject:v1
