- name : Configure Docker on EC2 Instances
  hosts : all
  become: true
  connection : ssh
  tasks : 
  - name: updating apt
    command : sudo apt-get update

  - name: Install Docker
  apt:
    name: docker.io
    state: present
  become: yes
  become_user: root
        
  - name: Deploy Docker Container
    command: docker run -itd -p 8084:8081 --name C01 salman8095/insuranceproject:v1
